:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #353535;
  --color-gray-200: #1c1b19;
  --color-gray-300: #1e1e1e;
  --color-pink: #f410a1;
}

.light {
  --bg-color: var(--color-white);
  --subheading-color: var(--color-gray-100);
  --blog-title-color: var(--color-gray-200);
  --body-text: var(--color-gray-300);
  --accent: var(--color-pink);
}

.dark {
  --bg-color: var(--color-gray-100);
  --subheading-color: var(--color-white);
  --blog-title-color: var(--color-white);
  --body-text: var(--color-white);
  --accent: var(--color-pink);
}

.logoNavLink:hover path {
  fill: var(--accent);
}

a {
  color: var(--color-accent);
}

/* Language: css */
.title {
  position: relative;
}
.title a {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  color: inherit;
  top: 0;
  left: 0;
  color: var(--accent);
}

.title a:before {
  position: absolute;
  right: 100%;
  display: block;
  content: '#';
  margin-right: 0.2em;
  visibility: hidden;
  color: var(--accent);
}

.title:hover a:before {
  visibility: visible;
}
