/*
 * https://www.figma.com/design/YNTcIHrGFIyfkrKavYHKbU/Freelance
 */
html {
  background-color: var(--html-bg-color);
}

.title {
  position: relative;
}

.title a {
  position: absolute;
  left: 0;
  top: 50%;
  padding-right: 4px;
  margin-left: -20px;
  padding-top: 8px;
  padding-bottom: 8px;
  transform: translateY(-55%);
}

.title a svg {
  visibility: hidden;
  stroke: var(--color-charcoal-gray);
}

.title:hover a svg {
  visibility: visible;
}

@keyframes grow-progress {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

#progress {
  z-index: 9999;
  position: fixed;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 3px;
  background: var(--color-accent);

  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: scroll(root);
}


/* for the mermaid diagram */
.label {
  line-height: 1;
}

g.cluster-label {
  line-height: 1.5rem;
}
