/* These are only for usage in tailwind */
/* dont reference directly */

/*
 * https://www.figma.com/design/YNTcIHrGFIyfkrKavYHKbU/Freelance
 */
:root {
  /* color set up*/
  --color-hot-pink: #EB36A1;
  --color-pure-white: #FFFFFF;
  --color-off-white: #F3F3F7;
  --color-light-gray: #E6E6E6;
  --color-silver-gray: #A8A8A8;
  --color-medium-gray: #737373;
  --color-dark-gray-100: #262626;
  --color-dark-gray-200: #353535;
  --color-charcoal-gray: #1E1E1E;
  --color-true-black: #000000;
  /* end of color set up */

  --sb-size: 10px;
  --sb-track-color: var(--color-dark-gray-200);
  --sb-thumb-color: var(--color-pure-white);
  --bg-color: var(--color-pure-white);
  --subheading-color: var(--color-dark-gray-200);
  --blog-title-color: var(--color-charcoal-gray);
  --body-text: var(--color-charcoal-gray);
  --accent: var(--color-hot-pink);
}

.light {
  --accent: var(--color-hot-pink); /* the main color we use to emphasize the site */
  --body-text: var(--color-charcoal-gray); 
  --body-text-inverse: var(--color-off-white);
  --border-color: var(--color-medium-gray);
  --bg-color: var(--color-pure-white);
  --section-title-color: var(--color-charcoal-gray);
  --subheading-color: var(--color-medium-gray);
}

.dark {
  --accent: var(--color-hot-pink); /* the main color we use to emphasize the site */
  --body-text: var(--color-off-white);
  --body-text-inverse: var(--color-charcoal-gray);
  --border-color: var(--color-silver-gray);
  --bg-color: var(--color-dark-gray-100);
  --section-title-color: var(--color-pure-white);
  --subheading-color: var(--color-off-white);
}

.logoNavLink:hover path {
  fill: var(--accent);
}

@layer base {

  html {
    background-color: var(--color-light-gray);
  }

  html.dark {
    background-color: var(--color-dark-gray-100);
  }

  html,
  body {
    position: relative;
    color: var(--body-text);
  }

  a {
    color: var(--accent);
  }

  p {
    margin-bottom: 1.4rem;
    font-size: 1.125rem;
  }


  ::selection {
    background-color: #EB36A199;
  }


  [type='search']::-webkit-search-cancel-button,
  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }

  mark {
    background: var(--color-hot-pink);
  }
}

.title {
  position: relative;
}

.title a {
  position: absolute;
  left: 0;
  top: 50%;
  padding-right: 4px;
  margin-left: -20px;
  padding-top: 8px;
  padding-bottom: 8px;
  transform: translateY(-55%);
}

.title a svg {
  visibility: hidden;
  stroke: var(--color-charcoal-gray);
}

.title:hover a svg {
  visibility: visible;
}


@keyframes grow-progress {
	from { transform: scaleX(0); }
	to { transform: scaleX(1); }
}

#progress {
  z-index: 9999;
	position: fixed;
	left: 0; 
  top: 0;
	width: 100%; 
  height: 3px;
	background: var(--accent);

	transform-origin: 0 50%;
	animation: grow-progress auto linear;
	animation-timeline: scroll(root);
}


/* for the mermaid diagram */
.label {
  line-height: 1;
}

g.cluster-label {
  line-height: 1.5rem;
}
