@import 'tailwindcss';
@config '../tailwind.config.cjs';
@custom-variant dark (&:where(.dark, .dark *));

@source './**/*.{js,jsx,ts,tsx,mdx,md,svg}';
@source '../content/**/*.{js,jsx,ts,tsx,mdx,md}';

@font-face {
	font-family: 'CommitMono';
	src: url('/fonts/CommitMono-400-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CommitMono';
	src: url('/fonts/CommitMono-700-Italic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'CommitMono';
	src: url('/fonts/CommitMono-700-Regular.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
