@import 'tailwindcss';
@config '../tailwind.config.cjs';

@font-face {
	font-family: 'CommitMono';
	src: url('/fonts/CommitMono-400-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CommitMono';
	src: url('/fonts/CommitMono-700-Italic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'CommitMono';
	src: url('/fonts/CommitMono-700-Regular.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
